# ===============================
# 🌐 Angular (Node.js / Frontend)
# ===============================
node_modules/
dist/
.angular/
.angular-cache/
*.log
.env
.env.*.local

# Editor
.vscode/

# ===============================
# ☕ Java (Maven / Gradle)
# ===============================
*.class
*.jar
*.war
*.ear
target/
build/

# IDEs (IntelliJ, Eclipse, NetBeans)
.idea/
.project
.classpath
.settings/
*.iml

# ===============================
# 🍏 Xcode / iOS (Swift)
# ===============================
# Build e cache
build/
DerivedData/
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage.build/

# Interface do usuário e estado pessoal
*.xcworkspace/
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Outros arquivos temporários
*.DS_Store
*.swp
*.tmp
*.bak
*.orig
*.crash
*.log
Icon?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================
# 🔒 Arquivos de ambiente
# ===============================
.env
.env.local
.env.*.local
*.local
*.env.*
*.sqlite
*.db
*.venv

# ===============================
# ⚙️ Ferramentas e utilitários
# ===============================
*.pyc
__pycache__/
.ipynb_checkpoints/
