@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.menu-certificado {
  max-width: 800px;
}

.btn-voltar {
  gap: 6px;
  color: var(--gray-200);
  vertical-align: middle;
  cursor: pointer;
}

.btn-voltar p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 600;
}

.btn-voltar i {
  font-size: 20px;
}

.certificado {
  margin-top: 32px;
  background-image: url("../../../../public/certificate/certificate_bg.png");
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  position: relative;
}

.conteudo-certificado {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: var(--white);
  border-radius: 8px;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
}

.icone-medalha {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}

.info-certificado {
  gap: 20px;
}

.titulo-subtitulo {
  gap: 8px;
}

.titulo-subtitulo h1 {
  all: unset;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 2.4px;
  color: var(--blue-dark);
}

.titulo-subtitulo p {
  all: unset;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  color: var(--gray-300);
}

.nome-aluno {
  all: unset;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  color: var(--blue-base);
}

.lista-atividades {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 415px;
}

.lista-atividades p:nth-of-type(1) {
  all: unset;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  color: var(--gray-300);
  text-align: center;
}

.lista-atividades p:nth-of-type(2) {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  color: var(--gray-300);
  text-align: center;
}

.data-emissao {
  all: unset;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  color: var(--gray-300);
  text-align: center;
}

.assinatura-certificado {
  position: absolute;
  bottom: 24px;
  right: 40px;
  width: 64px;
  height: 64px;
}
