/* You can add global styles to this file, and also import other style files */
:root {
  --white: #FFFFFF;
  --gray-100: #E2E8F0;
  --gray-200: #64748B;
  --gray-300: #121621;
  --blue-base: #3B5AC2;
  --blue-dark: #1A2856;
  --blue-gradient: linear-gradient(90deg, #1A2856 0%, #334EA9 100%);
  --danger-base: #E95F5F;
  --danger-dark: #D71D1D;
}
