.input {
  width: 100%;
  height: 3.25rem;
  background: var(--gray-500);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  position: relative;
  transform: translateY(-50%);
  margin-bottom: 2.375rem;
}

.input::placeholder {
  color: var(--gray-300);
}